

.favorites {
    padding: 20px;
    background-color: #f8f8f8;
}

.favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.favorites-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    width: calc(33.333% - 20px); /* 3 колонки */
}

.product-card {
    text-align: center;
}
